/*  MEDIA QUERIES*/

  

@media all and (max-width:1000px) {

    .col {
        flex-direction: column;
    }
    .hero-mobile {
        display: block;
        width: 100%;
        
    }

    .hero-desktop {
        display: none;
        overflow: hidden;
    }
}

@media all and (max-width:375px) {
 html {}

  
}